<div class="space-y-4 flex flex-col">
  <a routerLink="/dash/user-management" class="text-sm p-2 w-fit bg-red-100 text-red-700 rounded-md">← Back to users</a>

  <div class="card p-6" *ngIf="vm$ | async as vm">
    <div *ngIf="vm.error" class="px-4 py-2 text-sm text-red-700 bg-red-50 border border-red-200 rounded-md">
      {{ vm.error }}
    </div>

    <ng-container *ngIf="!vm.error && vm.user as user">
      <div class="flex items-center gap-4">
        <img [src]="user.avatarUrl || 'https://i.pravatar.cc/80?img=1'" class="w-16 h-16 rounded-full border" alt="avatar" />
        <div>
          <div class="text-lg font-semibold text-slate-900">{{ user.name }}</div>
          <div class="text-sm text-slate-600">{{ user.email }}</div>
        </div>
      </div>



      <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">
        <div>
          <div class="text-slate-500">Access</div>
          <div class="mt-1 flex gap-2 flex-wrap">
            <span class="chip" *ngFor="let role of (user.access || [])">{{ role }}</span>
          </div>
        </div>
        <div>
          <div class="text-slate-500">Last Active</div>
          <div class="mt-1 text-slate-700">{{ user.lastActive | date: 'medium' }}</div>
        </div>
        <div>
          <div class="text-slate-500">Date Added</div>
          <div class="mt-1 text-slate-700">{{ user.dateAdded | date: 'medium' }}</div>
        </div>
      </div>
    </ng-container>
    <div class="mt-4 flex gap-2">
      <a class="btn-outline bg-slate-100" [routerLink]="['/dash','user-management', (vm.user?.id || ''), 'edit']">
        Edit
      </a>
      <button class="btn-outline bg-red-500 text-white" (click)="onDelete()">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
        </svg>
      </button>
    </div>
  </div>
</div>
